@media (width<=575px) and (width>=0px){
    .fdfdfswd44rrgt{
        box-shadow: none; height: 60px; font-size: 1rem;
    
    }
    .fsefeserwefs34sd3{
        padding: 50px;
        margin-block:32px 100px;
        border-radius: 10px;
        }
}
@media (width<=767px) and (width>=576px){
}
@media (width<=991px) and (width>=768px){
}