@media (width<=575px) and (width>=0px) {
  .from_login_page {
    padding-inline: 2rem;
  }
  #mail_input {
    font-size: 1.5rem;
  }
  #password_input {
    font-size: 1.5rem;
  }
}
@media (width<=767px) and (width>=576px) {
}
@media (width<=991px) and (width>=768px) {
}
