.singtitlef{
font-size: 32px;
margin-bottom: 8px;
font-weight: 700;
}
.singtitlef_a{
margin-bottom: 2rem;
font-weight: 700;
}
.singtitlef_a_121{
width: 100%;
}
.checkboxforconr{
width: 300px;
padding: 1rem;
  background-color: #f0f0f0;

}
.checkboxforconr input{
    height: 20px;
    width: 20px;
}
.contetfromsfsedff{
width: 700px;
min-height: 80%;
}
.borderfedefdf{
padding: 1rem 2rem;
text-decoration: none;
width: 100%;
background-color: #f0f0f0;
font-size: 20px;


}
.contetfromsfsedff3r3f3{
  background-color: #f0f0f0;

}
.lasdfr54{
font-size: 20px;
font-weight: 700;
}
.fskasd4{
color: #764CAE;
}
.fskasd4:hover{
    color: black;
    }
input{
 height: 50px;
 font-size: 32px;
 padding: 1rem;
 outline: none;
}
.leveval35{
font-weight: 700;
}