.forcontn4545{
width: 700px;

}
.dfsfsd454df{
font-size: 1.5rem;
font-weight: 700;
}
.fsefeserwefs{
  background-color: #f0f0f0;
border: 1px solid #f0f0f0;
}
.fsefeserwefs34sd3{
padding: 90px;
margin-block:32px 100px;
border-radius: 10px;
}
/* 

box-shadow: none; height: 60px; font-size: 1.5rem;
*/
.fdfdfswd44rrgt{
    box-shadow: none; height: 60px; font-size: 1.5rem;

}