.formboxfor_logindfd34df{
width: 700px !important;

}
.lgin554544title{
font-size: 32px;
/* margin-bottom: 8px; */
font-weight: 700;
}
.lgin55df4544title{
margin-bottom: 32px;
font-weight: 700;
}
.laeve5454fsd{
font-weight: 700;
}
.btndffolkgid{
width: 100%;
border: 1px solid black;
padding: 1rem;

}
.boxdleexr45f4{
padding: 1rem;
width: 400px;
background-color: #A287C6;
color: white    ;

}
.formboxfor_logindfd34dffdfd{
  background-color: #f0f0f0;

}
.dfex787ce{
font-size: 20px;
font-weight: 700;
}
input{
    height: 50px;
    outline: none;
    font-size: 24px;
    padding: 0 1rem;
}
.dfex787cewe33e{
color: #764CAE;
}